.top-container{
    background-color: aquamarine;
    position: relative;
    padding-top: 100px;
}
body{
    margin: 0;
    text-align: center;
}
h1{
    width: 20%;
    margin: 0 auto;
}
.middle-container{
    height: 200px;
    width: 200px;
    background-color: red;
    border: solid 20px;
    margin-left: 220px;
}
.bottom-container{
    height: 200px;
    width: 200px;
    background-color: yellow;
    border: solid 10px;
    margin-left: 460px;
}
.bottom-cloud{
    position: absolute;
     left: 300px;
     bottom: 300px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}